a-simple-solution-in-swift-to-reuse-uidatepicker-with-storyboards.html
a-simple-solution-in-swift-to-reuse-uidatepicker-with-storyboards.org
communicate-between-watchkit-extension-and-app.html
delegation-does-not-reusable-code-make.html
delegation-does-not-reusable-code-make.org
dev
emacs
feedtest.xml
feed.xml
flexible-goals.html
goals-systems-and-frameworks.html
header.org
hide-and-show-logic.html
ideas.org
index.html
index.org
ios
itest.html
lisp
lock-screen-rotation-in-ios8.html
lock-screen-rotation-in-ios8.org
mac
math
news
observed-properties-in-swift.html
oldindex.org
personal
physics-practice-1.html
programming
reading.html
reading.org
really-bad-advice.org
server
sharing-model-code.html
singleton-pattern-in-swift.html
singleton-pattern-in-swift.org
singleton-pattern-in-swift.pdf
singleton-pattern-in-swift.tex
social
stupid-strcmp.html
stupid-strcmp.org
sync-facade.html
tech
test
uiscrollview-crud.html
uiscrollview-crud.org
uiscrollview-crud.pdf
uiscrollview-crud.tex
uitoolbar-crud.html
uitoolbar-crud.org
watchkit-delegates-and-contexts.html
watchkit-delegates-and-contexts.org