body {
    font-family: -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif, "Lucida Grande";
    font-size:15px;
}

main {
    padding-left:8vw;
    padding-right:8vw;
}

h1 {
    font-size:22px;
}

h2 {
    font-size:20px;
}

.border {
    border:1px solid black;
}

a:link, a:visited, a:hover, a:active {
    color:#9C9B9B;
    text-decoration:none;
}
